@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Commissioner:wght@300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.wrap {
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 50px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: blueviolet;
}

.background {
    display: none;
}

.header {
    background-image: url(../img/bc-header.png);
    height: 901px;
    color: #FFFFFF;

    &__nav {
        padding-top: 71px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__tel {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .about-reserve {
        margin-top: 165px;

        &__opening-hours {
            font-size: 24px;
            margin-bottom: 32px;
        }

        &__text {
            font-size: 64px;
            font-weight: bold;
            line-height: 88px;
        }

        &__btn {
            display: flex;
            margin-top: 63px;
            justify-content: space-between;
            align-items: center;
        }

        &__btn-reserve {
            padding: 38px;
            background: #3A4574;
            font-size: 18px;
            position: relative;
        }

        &__btn-reserve::before {
            font-family: FontAwesome;
            content: "\f07a";
            position: absolute;
            top: 37px;
            left: -300px;
            transition: all 200ms ease;
        }

        &__btn-reserve:hover:before {
            left: 11px;
        }

        &__btn-sites {
            .site {
                border: 1px solid #fff;
                border-radius: 50%;
                padding: 10px;
                margin-left: 25px;
            }

            .site:hover {
                border: 1px solid blueviolet;
            }
        }
    }
}

.schedule {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
    gap: 40px;

    &__menu {
        margin-top: 80px;
        margin-bottom: 123px;
        min-width: 355px;
    }

    &__menu-list {
        padding-bottom: 20px;
        border-bottom: 1px solid #E7E7E7;
        margin-top: 20px;
    }

    &__menu-list:first-child {
        margin-top: 0;
    }

    &__menu-item-day {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__menu-item-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
    }

    &__menu-item-wrap svg {
        margin-left: 10px;
    }

    &__menu-item-wrap span:last-child {
        margin-left: 10px;
    }

    &__photo {
        position: relative;
        width: 670px;
        height: 480px;
        margin-top: 113px;
    }

    .photo-wrap-one {
        top: 53px;
        max-width: 323px;
        max-height: 486px;
        position: absolute;
    }

    .photo-wrap-three {
        top: -33px;
        right: 0;
        max-width: 323px;
        max-height: 486px;
        position: absolute;
    }

    &__photo-one {
        width: 100%;
    }

    &__photo-two {
        width: 100%;
    }

    &__photo-border {
        border: 1px solid #D3B47F;
        width: 471px;
        height: 502px;
        position: absolute;
        right: 77px;
        top: 0;
        z-index: -1;
    }
}

.reviews {
    background-color: #3A4574;
    padding: 220px 50px;

    &__swiper {
        padding: 0;
    }

    &__swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__swiper-svg {
        margin-bottom: 34px;
    }

    &__swiper-head {
        color: #D3B47F;
        font-weight: 600;
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
        max-width: 780px;
    }

    &__swiper-ph {
        text-align: center;
        line-height: 40px;
        color: #FFFFFF;
        margin-bottom: 40px;
        max-width: 780px;
    }

    &__swiper-name {
        text-align: center;
        color: #D3B47F;
        font-size: 24px;
        max-width: 780px;
        letter-spacing: 6px;
    }

    .swiper-button-prev {
        color: #ffffff;
    }

    .swiper-button-next {
        color: #D3B47F;
    }
}

.swiper {
    max-width: 1125px;
    height: auto;
}

@media screen and (max-width: 1187px) {
    .schedule .photo-wrap-one {
        max-width: 233px;
        right: 244px;
    }

    .schedule__photo-border {
        width: 340px;
        height: 435px;
    }

    .schedule .photo-wrap-three {
        max-width: 233px;
    }
}

@media screen and (max-width: 990px) {
    .schedule__menu-item-day {
        font-size: 19px;
    }

    .schedule__menu-item-wrap {
        font-size: 14px;
    }

    .schedule__menu {
        min-width: 289px;
    }

    .schedule .photo-wrap-one {
        max-width: 177px;
        right: 191px;
    }

    .schedule__photo-border {
        width: 253px;
        height: 365px;
        right: 46px;

    }

    .schedule .photo-wrap-three {
        max-width: 177px;
    }

    .reviews__swiper-head {
        max-width: 580px;
    }

    .reviews__swiper-ph {
        max-width: 522px;
    }

    .header__list {
        flex-wrap: wrap;
    }

    .header__item {
        margin-right: 15px;
    }

}

@media screen and (max-width: 840px) {
    .background {
        display: block;
        max-width: 731px;
    }

    .background img {
        width: 100%;
    }

    .header {
        // display: block;
        background-image: none;
    }

    .header__item {
        color: #000000;
    }

    .header__item img {
        background-color: #000000;
        width: 165px;
    }

    .header .about-reserve {
        margin-top: 50px;
        color: black;
    }

    .header .about-reserve__btn {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .header .about-reserve__btn-sites .site {
        border: 1px solid #000000;
        color: #000000;
    }

    .header .about-reserve__text {
        font-size: 40px;
    }

}



@media screen and (max-width: 820px) {
    .schedule {
        flex-wrap: wrap;
    }

    .schedule__menu {
        width: 100%;
    }

    .schedule__photo {
        margin-top: 0;
    }

    .schedule .photo-wrap-one {
        right: 334px;
    }

    .schedule__photo-border {
        width: 253px;
        height: 282px;
        right: 170px;
    }

    .schedule .photo-wrap-three {
        right: 130px;
    }

    .reviews__swiper-head {
        max-width: 285px;
    }

    .reviews__swiper-head {
        font-size: 20px;
    }

    .reviews__swiper-ph {
        max-width: 306px;
        font-size: 11px;
    }

    .reviews__swiper-name {
        font-size: 14px;
    }


}

.hamb {
    display: none;
}

.popup {
    display: none;
}

@media screen and (max-width: 670px) {
    .header__nav .menu {
        display: none;
    }

    .hamb {
        display: flex;
        align-items: center;
    }

    .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
        z-index: 100000;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #000000;
        transition: 0.2s;
    }

    .popup {
        position: fixed;
        top: 75px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }

    .popup.open {
        left: 0;
    }

    .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 50px;
        overflow: auto;
    }

    .popup .menu>li {
        width: 100%;
        cursor: pointer;
        margin-top: 35px;
    }

    .popup .menu>li>.header__tel {
        justify-content: flex-start;
    }

    .popup .menu>li>a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: bold;
        color: #3f3f3f;
    }

    .popup .menu>li>a:hover {
        background-color: rgba(122, 82, 179, 0.1);
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
    }

}


@media screen and (max-width: 630px) {
    .schedule__photo {
        position: static;
        width: auto;
        height: auto;
        display: flex;
        gap: 20px;
    }

    .schedule .photo-wrap-one {
        position: static;
        max-width: 230px;
    }

    .schedule__photo-border {
        display: none;
    }

    .schedule .photo-wrap-three {
        position: static;
        max-width: 230px;
    }

    .header .about-reserve__btn-sites .site {
        border-radius: 50%;
        padding: 6px;
        margin-left: 1px;
    }

    .header .about-reserve__btn {
        gap: 28px;
    }

}

@media screen and (max-width: 505px) {
    .header .about-reserve__btn {
        flex-direction: column;
    }

    .header {
        height: 1021px;
    }

    .reviews__swiper-ph {
        max-width: 221px;

    }

    .reviews__swiper-name {
        font-size: 11px;
        letter-spacing: 4px;
    }

}